In [11]:
import pandas as pd
import numpy as np

In [191]:
df_a2q = pd.read_table("data/sx-stackoverflow-a2q.txt", 
                       delimiter=" ", 
                       names=["src", "tgt", "timestamp"],
                       nrows=10000)

df_c2a = pd.read_table("data/sx-stackoverflow-c2a.txt", 
                       delimiter=" ", 
                       names=["src", "tgt", "timestamp"],
                       nrows=10000)

df_c2q = pd.read_table("data/sx-stackoverflow-c2q.txt", 
                       delimiter=" ", 
                       names=["src", "tgt", "timestamp"],
                       nrows=10000)

In [192]:
df_a2q["timestamp"] = pd.to_datetime(df_a2q["timestamp"], unit='s')
df_c2a["timestamp"] = pd.to_datetime(df_c2a["timestamp"], unit='s')
df_c2q["timestamp"] = pd.to_datetime(df_c2q["timestamp"], unit='s')

In [21]:
df_c2q

     src     tgt           timestamp
0   4550    4550 2008-09-06 19:26:30
1    242     184 2008-09-06 20:38:23
2   4213    4946 2008-09-07 06:15:49
3     91      91 2008-09-07 06:18:15
4   2658    1874 2008-09-07 07:18:11
..   ...     ...                 ...
95  2208  445087 2008-09-10 19:28:51
96  1908    1228 2008-09-10 19:36:53
97  2469    1874 2008-09-10 20:03:35
98   834     834 2008-09-10 20:15:49
99  1908    5330 2008-09-10 20:22:37

[100 rows x 3 columns]

In [3]:
import networkx

In [5]:
g = networkx.Graph()

In [45]:
g.add_node("b")
g.add_edge("a", "b")

In [84]:
g["b"]

AtlasView({'a': {}})

In [150]:
g.size()

1

In [259]:
import graph
from importlib import reload
reload(graph)

G = graph.Graph()

In [260]:
counter = 0

for idx in df_a2q.index:
    row = df_a2q.iloc[idx]
    G.add_edge(row["src"], row["tgt"], {"time": row["timestamp"],
                                        "type": "a2q"})
    
    if row["src"] == row["tgt"]: counter += 1

In [261]:
G.summary()

1505 nodes
10000 edges

In [264]:
G.neighbors["9"]

{'115',
 '1693',
 '19',
 '1982',
 '22',
 '227',
 '234',
 '2424',
 '26',
 '404',
 '46',
 '72',
 '8',
 '905'}